body {
    background-color: black;
}

h1 {
    vertical-align: center;
    color: green;
}

a {
    text-decoration: none;    
    color: green
}


.list{  
    vertical-align: center;
    color: green;
}

li{
   
    padding: 7px;
}